body{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: 1600px;
  text-align: center;

}

.centro{
  margin-top: 20px;
  text-align: left;
  margin-left: 100px;
  font-family: sans-serif;
}

h1{
  color: #00ff00;
  margin-bottom: 0px;
}
span{
  color: white;
}


p{
  color: white;
  margin: 0px;

}

img{
  margin-top: 20px;
  height: 100px;
  width: 220px;
  margin-bottom: 0px;
}


.pulsante{
  display: inline-block;
}

.rettangolo{
  width: 500px;
  height: 30px;
  background-color: orange;
  border-radius: 5px;
}

.rettangolo2{
  width: 800px;
  height: 30px;
  background-color: #00ff00;
  border-radius: 5px;
}

.rettangolo3{
  width: 250px;
  height: 30px;
  background-color: blue;
  border-radius: 5px;
}


.background-pulsanti{
  background-color: #00ff00;
  padding: 10px;
  text-align: center;
  margin-left: 100px;
  align: center;
  margin-right: 100px;
}

.sfondo-nero{
  background-color: rgba(0, 0, 0, 0.5);
  height: 690px;
  width: 1100px;
  margin: auto;
  border-radius: 10px;
  margin-top: 50px;
}
